.projects {
    width: 100vw;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the track */
}

::-webkit-scrollbar-thumb {
    background: #474747; /* Color of the scrollbar thumb */
    border-radius: 1px; /* Rounded corners for the thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #272727; /* Change color on hover */
  }