.navbar {
    width: 100vw;
    height: 10vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 55%;
    /* border: 1px solid rgb(66, 66, 66); */
    border-radius: 30px;
    box-shadow: 0 0 15px white;
}

.navbar-button {
    width: 25%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1vw;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-family: var(--primary-font);
}

