* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}

:root {
    --primary-color: rgb(157, 81, 0);
    --primary-font: "Mulish", sans-serif;
    
}

html, body {
    background: radial-gradient(circle at 50% -120%, #000000 0%, 
                                                    #000000 75%,
                                                    var(--primary-color) 90%,
                                                    var(--primary-color) 100%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.home-div {
    width: 100%;
    height: 90vh;
}

.skills-div {
    width: 100%;
    height: 90vh;
}

.projects-div {
    width: 100%;
    height: 90vh;
}

.about-div {
    width: 100%;
    height: 90vh;
}